@charset "utf-8";
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu
{ margin:0; padding:0; }
body { font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif; font-size: 12px; }
a { text-decoration:none; }
img { border: none; }
.rel { position: relative; }
.abs { position: absolute; }
.fl { float: left; }
.fr { float: right; }
ul li { list-style: none; }
.clr { line-height: 0; height: 0; clear: both; font-size: 0; overflow: hidden}
.clearfix:after { display: block; height: 0; visibility: hidden; clear: both; content: "."; }
.no_select { -moz-user-select:none; -webkit-user-select:none; user-select:none;}
html { -webkit-text-size-adjust: none; } /* 禁用iPhone中Safari的字号自动调整 */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;} /* 设置HTML5元素为块 */
img { max-width: 100%; height: auto; }/* 设置图片视频等自适应调整 */
strong, span,label { display: inline-block; vertical-align: middle; }
select { -webkit-appearance: none; line-height: 24px; border-radius: 0; /* mobile-select设置*/ }
.hide { display: none; }